@model List<SistemaGraficosCITIC.Models.Domain.PublicationType>

@{
    ViewData["Title"] = "Tipos de publicación";
}

<div>
    <h4>Tipos de Publicación</h4>
    <hr />
    <button type="button" class="btn btn-primary" onclick="openTheForm()">
        <b>+</b> Agregar Tipo
    </button>
    <!-- The form -->
    <div class="form-popup" id="popupForm" style="display: none">
        <form asp-action="PublicationTypes" class="form-container" id="addTypeForm" >
            <label for="nuevoTipo"><b>Nuevo Tipo</b></label>
            <input type="text" placeholder="Introduzca un nombre" name="PublicationTypeName" required>
            <button type="submit" class="btn">Agregar</button>
            <button type="button" class="btn cancel" onclick="closeTheForm()">Cancelar</button>
        </form>
    </div>

    <table class="table table-borderless text-left" id="table_field" >
        <th>Nombre</th>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span asp-for="PublicationTypeName">@Html.DisplayFor(modelItem => item.PublicationTypeName)</span>
                </td>
                <td>
                    <form asp-action="DeleteType">
                        <a asp-action="DeleteType" asp-route-id="@item.PublicationTypeId" type="submit">Borrar</a>
                    </form>
                </td>
            </tr>
        }


    </table>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function openTheForm() {
        document.getElementById("popupForm").style.display = "block";
    }

    function closeTheForm() {
        document.getElementById("popupForm").style.display = "none";
    }
</script>
