@{
    ViewData["Title"] = "Inicio";
}

@if (User.IsInRole("Admin"))
{
    <div class="card-body">
        <h5 class="card-title; text-center" href="/Admin/Index">
            <a href="/Admin/Index" style="text-decoration: none; color: black; font-weight: bold">Ver Proyectos</a>
        </h5>
    </div>
    <div class="card-body">
        <h5 class="card-title; text-center" href="/Admin/Graphics">
            <a href="/Admin/Graphics" style="text-decoration: none; color: black; font-weight: bold">Ver Gráficos</a>
        </h5>
    </div>
    <div class="card-body">
        <h5 class="card-title; text-center" href="/Admin/Configurations">
            <a href="/Admin/Configurations" style="text-decoration: none; color: black; font-weight: bold">Configuraciones</a>
        </h5>
    </div>
}
else
{ // Si no es administrador muestra el indice de proyectos
    string url = Url.Action("Index", "Projects");
    
    <script type="text/javascript">
        window.location.href = "@url";
    </script>
}
