@{
    ViewData["Title"] = "Inicio";
}

<div class="parent-container" style="justify-content: center;">

    <div class="row align justify-content-center" style="margin-top: 50px;">
        
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="/Projects/Create">
                    <img src="~/Images/DefaultImages/banner_create.jpg" class="card-img-top" alt="Create image" style="height: 120px;" href="/Projects/Create">
                </a>
                <div class="card-body">
                    <h5 class="card-title" href="/Projects/Create"> 
                        <a href="/Projects/Create" style="text-decoration: none; color: black; font-weight: bold">Agregar proyecto</a> 
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a href="/Projects">
                    <img src="~/Images/DefaultImages/banner_projects.jpg" class="card-img-top" alt="My projects image" style="height: 120px;" href="/Projects">
                </a>
                <div class="card-body">
                    <h5 class="card-title" href="/Projects">
                        <a href="/Projects" style="text-decoration: none; color: black; font-weight: bold">Mis proyectos</a>
                    </h5>
                </div>
            </div>
        </div>

    </div>    

</div>
