@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<PageTitle>SistemaGraficosCITIC</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <form class="top-row" method="post" action="Identity/Account/LogOut">
                    <MudContainer Class="d-flex">
                        <MudButton Href="/Identity/Account/Manage" Class="ml-3 d-inline" Color="Color.Tertiary">Cuenta</MudButton>
                        <MudButton ButtonType="ButtonType.Submit" Class="ml-3 d-inline" Color="Color.Tertiary">Cerrar sesión</MudButton>
                    </MudContainer>
                </form>
            </Authorized>
            <NotAuthorized>
                <div class="top-row">
                    <MudContainer Class="d-flex">
                        <MudButton Href="/Identity/Account/Login" Class="ml-3 d-inline" Color="Color.Tertiary">Login</MudButton>
                        <MudButton Href="/Identity/Account/Register" Class="ml-3 d-inline" Color="Color.Tertiary">Register</MudButton>
                    </MudContainer>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
}