@page
@model SistemaGraficosCITIC.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Recuperar contraseña</title>
    <style>
        /* Estilos generales */
        body {
            font-family: 'Rubik', sans-serif !important;
            background-image: url("https://cdn.discordapp.com/attachments/1088969474297839681/1128490789954146334/solid-color-wallpapers-21958-22511-hd-wallpapers.png");
        }

        .modal-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        .modal-container h2 {
            margin-bottom: 10px;
        }

        .modal-container p {
            margin-bottom: 20px;
        }

        .modal-container .icon {
            font-size: 20px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="modal-container">
        <h4>Si tiene problemas para iniciar sesión, por favor contacte a soporte.</h4>
        <span class="icon">&#9742;   citic@ucr.ac.cr</span>
        <br />
        <span class="icon">&#9993;   2511 8016</span>
        <br />
        <br />
        <a href="./Login">Volver a inicio de sesión</a>
    </div>
</body>
</html>

