@using SistemaGraficosCITIC.Controllers

@model ProjectModel
@{
    ViewData["Title"] = "Agregar proyecto";
    var publicationsCount = 0;
}

<div class="container">

    @if (User.Identity.IsAuthenticated)
    {
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <h2><a href="/"><img src="~/Images/Logos/retroceder.png" style="width: 30px; height: 30px;"></img></a> Crear Proyecto</h2>
        <p>Paso 1 de 4</p>

        <div class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 15%"></div>
        </div>

        <hr />

        <h3>Proyecto</h3>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mt-3">
                        <input asp-for="Name" class="form-control" />
                        <label asp-for="Name" class="control-label">Nombre</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <select asp-for="Type" class="form-select" aria-label="Default select example">
                            <option value="Conference">Acción Social</option>
                            <option value="Journal">Actividad</option>
                            <option value="Magazine">Proyecto</option>
                            <option value="Magazine">Otro</option>
                        </select>
                        <label class="form-label">Tipo</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="date" value="" asp-for="StartDate" class="form-control" />
                        <label asp-for="StartDate" class="control-label">Fecha de inicio</label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="isActive" class="control-label">¿Está activo?</label>
                        <input id="CheckBoxActive" type="checkbox" asp-for="isActive" />
                        <span asp-validation-for="isActive" class="text-danger"></span>
                    </div>
                    <div id="EndDateDiv" class="form-floating mt-3">
                        <input type="date" asp-for="EndDate" class="form-control" />
                        <label asp-for="EndDate" class="control-label">Fecha de cierre</label>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div>
            <a asp-action="Index">Volver a la lista</a>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#CheckBoxActive").change(function () {
                    if ($(this).is(":checked")) {
                        $("#EndDateDiv").hide();
                    } else {
                        $("#EndDateDiv").show();
                    }
                });
            });
        </script>

        <script>
            var contador = @publicationsCount;

            function buttonAddPublications(x) {
                //Comentado por ahora para probar el popup
                /*
                var div = document.getElementById("publications");


                var formularioHTML = `
                                    <div class="card  mt-3" style="width: 18rem;">
                                        <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                        <h5 class="card-title">Publicación</h5>
                                                <button type="button" onclick="deletePublicationCard(this)" class="btn-close" aria-label="Close"></button>
                                                        </div>

                                            <div class="form-floating">
                                                <input id="PublicationsTitle${contador}" class="form-control" autocomplete="" aria-required="true" />
                                                <label class="form-label">Título</label>
                                            </div>
                                            <div class="form-floating">
                                                <label type="Date" class="control-label"></label>
                                                <input id="PublicationsDate${contador}" type="Date" class="form-control" />
                                            </div>
                                            <div class="form-floating">
                                                <input id="PublicationsReferencia${contador}" class="form-control" autocomplete="" aria-required="true" />
                                                <label class="form-label">Referencia</label>
                                            </div>
                                            <div class="form-floating mt-3">
                                                <select id="PublicationsType${contador}" class="form-select" aria-label="Default select example">
                                                </select>
                                                <label class="form-label">Tipo</label>
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                        `;
                div.insertAdjacentHTML("beforeend", formularioHTML);
                */
                contador = contador + 1;
            }


            function deletePublicationCard(x) {
                //Comentado por ahora para probar el popup
                /*
                var padre = x.parentNode;
                var abuelo = padre.parentNode;
                var abuelo = abuelo.parentNode;
                abuelo.remove();
                */
                contador = contador - 1;
            }

        </script>

        @section Scripts {
        @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
    }
    }
    else
    {
        <h1>Inicie sesión para ver crear un nuevo proyecto</h1>
    }

</div>