@model SistemaGraficosCITIC.Models.Domain.Project

@{
    ViewData["Title"] = "Eliminar proyecto";
}

@if (User.Identity.IsAuthenticated)
{

    <h3>¿Estás seguro que deseas borrar este proyecto?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                <p>Nombre</p>
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                <p>Tipo</p>
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class = "col-sm-2">
                <p>Fecha de inicio</p>
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class = "col-sm-2">
                <p>Fecha de finalización</p>
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Borrar" class="btn btn-danger mt-3" />
            <div class="mt-3">
                <a asp-action="Index" asp-controller="Projects">Volver a la lista</a>
            </div>
        </form>
    </div>
}else{
    <h1>Inicie sesión para ver sus proyectos</h1>
}
