
@{
    ViewData["Title"] = "Graphics";
}

<h1>Graphics</h1>
<h3>Gráficos de reporte de labores</h3>
<div class="mt-4">
    <iframe width="90vw" height="90vh" src="https://app.powerbi.com/view?r=eyJrIjoiNWYxMmEyYjYtOGIyMi00YWI4LTk4YzItZGY0OWMwNGJlMjc1IiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9" frameborder="0" allowFullScreen="true" style="height:90vh;width:100%;border:1px solid gray"></iframe>
</div>
