@model SistemaGraficosCITIC.Models.Domain.Exposition

@{
    ViewData["Title"] = "Eliminar exposición";
}

<h3>¿Estás seguro que deseas borrar esta exposición?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Fecha</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            <p>Ubicación</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            <p>Contexto</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Context)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <div class="mt-3">
            <a asp-action="Index" asp-controller="Projects">Volver a la lista</a>
        </div>
    </form>
</div>
