@using Microsoft.AspNetCore.Identity
@using SistemaGraficosCITIC.Repositories
@using SistemaGraficosCITIC.Models.Domain
@using SistemaGraficosCITIC.Data;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IResearcherRepository ResearcherRepository
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    string idString = user.Id;
    Guid id = Guid.Parse(idString);
    Researcher researcher = await ResearcherRepository.GetAsync(id);

    <li class="nav-item">
        <a class="nav-link text-white">@researcher.Name @researcher.LastName</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark"><span style="color: white;">Cerrar sesión</span></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Acceder</a>
    </li>
}
</ul>
